.idea/
example/test.nc
little_awk.egg-info/
example/data/
little_awk/__pycache__/
falls_detection_and_snow_model/*.nc
falls_detection_and_snow_model/measured_vs_simul_snow_depth.png
*/.ipynb_checkpoints/
.ipynb_checkpoints/
*.png

/current_development/*.nc
/current_development/*.pckl
/current_development/*.png
/current_development/*.f95
/current_development/*.txt
/current_development/*.inc
/current_development/*.f
/current_development/*.so
/current_development/little_awk_functions.py
/current_development/*.las
/current_development/*.bin

/*/__pycache__/

/current_development/Sensitivity_tests_figs/

/finalized/*.nc
/finalized/*.pckl
/finalized/*.npy

/finalized_in_dev/
*.nc

data/
